/* Style for the TODO List container */
div {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #c5bf8b; /* Light background color */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(188, 142, 142, 0.2);
}

/* Style for the heading */
h4 {
  color: #0b0c0c;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
}

/* Style for the input field */
input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #2b547c;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  color: #299687;
}

/* Style for the button */
button {
  width: 100%;
  background-color: #6894c2;
  color: rgb(152, 85, 85);
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px; /* Added margin-bottom for spacing */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #737679;
}

/* Style for the TODO list items */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #832f2f;
  padding: 20px;
  margin: 15px 0;
  border: 2px solid #68a3de;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #7d98b3;
}

/* Style for the 'Mark As Done' button and 'Delete' button */
li button {
  box-sizing: border-box; /* Include padding and border in the element's total width */
  width: calc(50% - 5px); /* Adjusted width for equal horizontal alignment with spacing */
  background-color: #6fc282;
  color: rgb(166, 113, 188);
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px; /* Added margin-top for spacing */
  transition: background-color 0.3s ease;
}

li button:last-child {
  background-color: #4d3134;
  margin-top: 10px; /* Adjusted margin-top to align both buttons */
}

li button:hover {
  background-color: #a7ada8;
}

li button:last-child:hover {
  background-color: #d79fa5;
}


button:last-child:hover {
  background-color: #138496;
}
